.listItem{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* Spacing */
    padding: 10px;
    border: 3px solid #16213E;
    border-radius: 5px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.251);
    /* Sizing */
    width: 100%;
    min-width: 100%;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
    /* Color */
    color: white;
    background-color: #0F3460;
    /* Animation */
    transition: 0.2s ease-in-out;
}

.listItem span{
    display: flex;
    justify-content: center;
    /*Text decoration*/
    text-align: justify;
}

.listItem:hover{
    /* Spacing */
    box-shadow: 8px 8px 0px rgba(233, 69, 96, 0.251);
    /* Animation */
    transition: 0.2s ease-in-out;
}

.todoItemControlsContainer{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todoItemControls{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.removeButtonIcon{
    /* Spacing */
    padding: 5px 10px;
    border: 3px solid #E94550;
    border-radius: 5px;
    /* Color */
    background-color: #E94550;
    color: white;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
    /* Animation */
    transition: ease-in-out 0.15s;
}

.editButtonIcon{
      /* Spacing */
      padding: 5px 10px;
      border: 3px solid #E7B10A;
      border-radius: 5px;
      /* Color */
      background-color: #E7B10A;
      color: white;
      /* Font */
      font-weight: 500;
      font-size: 1.2rem;
      /* Animation */
      transition: ease-in-out 0.15s; 
}

.removeButtonIcon:disabled,
.removeButtonIcon:disabled:hover,
.removeButtonIcon:disabled:hover *{
    /* Color */
    background-color: grey;
    color: white;
}


.removeButtonIcon:focus{
    /* Spacing */
    border-color: white;
    /* Animation */
    transition: ease-in-out 0.3s;    
}

.editButtonIcon:disabled,
.editButtonIcon:disabled:hover,
.editButtonIcon:disabled:hover *{
    /* Color */
    background-color: grey;
    color: white;
}

.editButtonIcon:hover,
.editButtonIcon:hover *{
    /* Spacing */
    border-color: #E7B10A;
    /* Color */
    background-color: #E7B10A;
}

.editButtonIcon:focus{
    /* Spacing */
    border-color: white;
    /* Animation */
    transition: ease-in-out 0.3s;    
}

@media (max-width: 768px){
    .listItem{
        /*Display*/
        flex-direction: column;
        justify-content: center;
    }

    .listItem span{
        justify-content: center;
    }
}