.todoForm {
    /* Display */
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* Sizing */
    width: 100%;
}

@media (max-width: 1024px){
    .todoForm{
        /* Display */
        flex-direction: column;
    }
}