.todoList{
    /* Overflow */
    overflow-y: hidden;
    overflow-x: hidden;
    /* List styling */
    list-style-type: none;
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Spacing */
    padding: 10px;
    margin: 10px;
    /* Sizing */
    width: 80%;
    min-width: 80%;
}

.listItem{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* Spacing */
    padding: 10px;
    /* Sizing */
    width: 100%;
    min-width: 100%;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
}

.listItem button{
    /* Display */
    display: flex;
    justify-content: center;
    /*Text decoration*/
    text-align: justify;
}

.listItem button:hover,
.listItem button:hover *{
    /* Animation */
    transform: scale(1.00);
    transition: ease-in-out 0.15s;
}

.listItem button.title{
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Sizing */
    width: 50%;
    /* Font */
    text-align: center;
}

.listItem button.active{
    /*Colors*/
    background-color: #E94550;
    color: white;
}

.listItem button.date{
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*Sizing*/
    width: 25%;
    /* Font */
    text-align: center;
}

.listItem button.actions{
    /*Display*/
    justify-content: center;
    /*Sizing*/
    width: 25%;
    /* Font */
    text-align: center;
    /*Cursor*/
    cursor:default;
}

.listItem button.actions:disabled{
    background-color: white;
    border-color: #16213E;
}

@media (max-width: 768px){
    .listItem{
        /*Display*/
        flex-direction: column;
        justify-content: center;
    }

    .listItem button.title,
    .listItem button.date{
        /* Sizing */
        width: 100%;
    }

    .listItem button.actions{
        display: none;
    }
}