.footerNavContainer {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Spacing */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
    /* Sizing */
    width: 100%;
    min-width: 100%;
}

.footerNav {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* Sizing */
    width: 100%;
}

.footerItem{
    /* Color */
    color:white;
}