*,
*::before,
*::after {
    /* Spacing */
    box-sizing: border-box !important;
    /* Font */
    font-family: 'Kanit', Arial, sans-serif;
    /* Animation */
    scroll-behavior: smooth;
}

html {
    /* Overflow */
    overflow-x: hidden;
}

body {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Spacing */
    margin: 0px;
    /* Sizing */
    width: 100%;
    /* Colors */
    background-color: #16213E;
}

header {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100%;
    height: auto;
    min-height: 152px;
    /* Animation */
    transition: 0.3s ease-in-out;    
}

main {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* Sizing */
    width: 100%;
    height: 100%;
}

h1 {
    /* Spacing */
    margin-bottom: 0px;
    /* Font */
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}

h2{
    /* Spacing */
    margin-top: 0px;
    /* Font */
    font-weight: 300;
    text-transform: capitalize;
    color: white;
}

input, 
button {
    all:unset;
}

button {
    /* Spacing */
    padding: 10px 15px;
    border: 3px solid #16213E;
    border-radius: 5px;
    /* Color */
    background-color: white;
    color: black;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
    /* Animation */
    transition: ease-in-out 0.15s;
}

button:hover,
button:hover *{
    /* Cursor */
    cursor: pointer;
    /* Color */
    background-color: #E94550;
    border-color: #E94550;
    color:white;
    /* Animation */
    transform: scale(1.05);
    transition: ease-in-out 0.15s;
}

button:focus{
    /* Spacing */
    border-color: #E94550;
    /* Animation */
    transition: ease-in-out 0.3s;
}

button:active{
    /* Animation */
    transform: scale(0.90);
    transition: ease-in-out 0.3s;
}

button:disabled,
button:disabled:hover
{
    /* Color */
    background-color: grey;
    border-color: grey;
    transform: scale(1);
    color: black
}

.loading-screen-container{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loading-screen{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Spacing */
    margin: 15px;
    /* Color */
    color: white;
    /*Font*/
    font-weight: 500;
}

footer{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Spacing */
    margin-top: auto;
    /* Sizing */
    width: 100%;
    min-width: 100%;
}

#root{
    /* Position */
    position: relative;
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Spacing */
    width: 100%;
    min-height: 100vh;
}

.brand{
    /* Sizing */
    width: 25px;
    height: auto;
    /* Animation */
    transition: 0.2s ease-in-out;
}

.brand:hover{
    /* Cursor */
    cursor: pointer;
    /* Color */
    color: #E94550;
    /* Animation */
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.button-top{
    /* Position */
    position: fixed;
    bottom: 5px;
    right: 10px;
    /* Color */
    color: white;
    /* Animation */
    transition: 0.3s ease-in-out;
}

.button-top:hover{
    /* Cursor */
    cursor: pointer;
    /* Color */
    color:#E94550;
    /* Animation */
    transform: scale(1.05);
    transition: 0.3s ease-in-out
}

.button-top:active{
    /* Color */
    color: #E94550;
    /* Animation */
    transform: scale(0.95);
    transition: 0.3s ease-in-out
}

@media (max-width: 1024px){
    header{
        /* Sizing */
        min-height: 245px;
        /* Animation */
        transition: 0.3s ease-in-out;
    }
}
