*,
*::before,
*::after {
    /* Spacing */
    box-sizing: border-box !important;
    /* Font */
    font-family: 'Kanit', Arial, sans-serif;
    /* Animation */
    scroll-behavior: smooth;
}

html {
    /* Overflow */
    overflow-x: hidden;
}

body {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Spacing */
    margin: 0px;
    /* Sizing */
    width: 100%;
    /* Colors */
    background-color: #16213E;
}

header {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100%;
    height: auto;
    min-height: 152px;
    /* Animation */
    transition: 0.3s ease-in-out;    
}

main {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Sizing */
    width: 100%;
    height: 100%;
}

form {
    /* Display */
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* Sizing */
    width: 100%;
}

form label{
    /* Display */
    display: flex;
    flex-direction: row;
    gap: 5px;
}

form label span{
    /* Display */
    display: none;
}

input, 
button {
    all:unset;
}

label{
    /* Color */
    color: white;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
}

input{
    /* Spacing */
    padding: 10px 15px;
    border: 3px solid #16213E;
    border-radius: 5px;
    /* Sizing */
    width: 85%;
    min-width: 85%;
    /* Color */
    color: black;
    background-color: white;
    /* Font */
    font-size: 1.2rem;
    font-weight: 500;
    /* Animation */
    transition: ease-in-out 0.5s;
}

input:focus{
    /* Spacing */
    border: 3px solid #E94550;
    /* Animation */
    transition: ease-in-out 0.5s;
}

input:active{
    /* Spacing */
    border: 3px solid #E94550;
    /* Animation */
    transition: ease-in-out 0.5s;
}

button {
    /* Spacing */
    padding: 10px 15px;
    border: 3px solid #16213E;
    border-radius: 5px;
    /* Color */
    background-color: white;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
    /* Animation */
    transition: ease-in-out 0.15s;
}

button:hover{
    /* Cursor */
    cursor: pointer;
    /* Color */
    background-color: #E94550;
    border-color: #E94550;
    color:white;
    /* Animation */
    transform: scale(1.05);
    transition: ease-in-out 0.15s;
}

button:focus{
    /* Spacing */
    border-color: #E94550;
    /* Animation */
    transition: ease-in-out 0.3s;
}

button:active{
    /* Animation */
    transform: scale(0.90);
    transition: ease-in-out 0.3s;
}

footer{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Spacing */
    margin-top: auto;
    /* Sizing */
    width: 100%;
    min-width: 100%;
}

#root{
    /* Position */
    position: relative;
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Spacing */
    width: 100%;
    min-height: 100vh;
}

.nav-bar-container{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    /* Sizing */
    width: 100%;
    min-width: 100%;

}

.nav-bar{
    /* Overflow */
    overflow: hidden;
    /* Position */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    /* Spacing */
    padding: 10px;
    margin-top: 0px;
    /* Sizing */
    width: 100%;
    min-width: 100%;
    height: auto;
    /* Colors */
    background-color: #16213E;
}

.nav-bar-logo-container{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* Spacing */
    padding-bottom: 5px;
    /* Sizing */
    width: 80%;
    min-width: 80%;
}

.nav-bar-logo-link,
.nav-bar-logo{
    /* Display */
    flex: 0 1 auto;
    /*Sizing*/
    width: 300px;
    min-width: 300px;
    height: auto;
}

.nav-bar-user-controls-container{
    /* Display */
    display: flex;
    flex-direction: row;
    /* Sizing */
    width: 80%;
    min-width: 80%;
}

.todo-list-container{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100%;
    min-width: 100%;
    height: auto;
}

.todo-list{
    /* Overflow */
    overflow-y: hidden;
    /* List styling */
    list-style-type: none;
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Spacing */
    padding: 10px;
    margin: 10px;
    /* Sizing */
    width: 80%;
    min-width: 80%;
}

.todo-list li{

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Spacing */
    padding: 10px;
    border: 3px solid #16213E;
    border-radius: 5px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.251);
    /* Sizing */
    width: 100%;
    min-width: 100%;
    /* Font */
    font-weight: 500;
    font-size: 1.2rem;
    /* Color */
    color: white;
    background-color: #0F3460;
    /* Animation */
    transition: 0.2s ease-in-out;
}

.todo-list li:hover{
    /* Spacing */
    box-shadow: 8px 8px 0px rgba(233, 69, 96, 0.251);
    /* Animation */
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
}

.footer-nav-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Spacing */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
    /* Sizing */
    width: 100%;
    min-width: 100%;
}

.footer-nav {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* Sizing */
    width: 100%;
}

.footer-item{
    /* Color */
    color:white;
}

.brand{
    /* Sizing */
    width: 25px;
    height: auto;
    /* Animation */
    transition: 0.2s ease-in-out;
}

.brand:hover{
    /* Cursor */
    cursor: pointer;
    /* Color */
    color: #E94550;
    /* Animation */
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.button-top{
    /* Position */
    position: fixed;
    bottom: 5px;
    right: 10px;
    /* Color */
    color: white;
    /* Animation */
    transition: 0.3s ease-in-out;
}

.button-top:hover{
    /* Cursor */
    cursor: pointer;
    /* Color */
    color:#E94550;
    /* Animation */
    transform: scale(1.05);
    transition: 0.3s ease-in-out
}

.button-top:active{
    /* Color */
    color: #E94550;
    /* Animation */
    transform: scale(0.95);
    transition: 0.3s ease-in-out
}

@media (max-width: 1240px){
    .nav-bar-logo-container{
        /* Display */
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1024px){
    header{
        /* Sizing */
        min-height: 245px;
        /* Animation */
        transition: 0.3s ease-in-out;
    }
    form{
        /* Display */
        flex-direction: column;
    }

    form label{
        /* Display */
        justify-content: flex;
        /* Sizing */
        width: 85%;
    }

    form label span{
        /* Display */
        display: flex;
    }
}
